@import "@material/theme/color-palette";

$color-blue: #393088;
$color-green: #60a475;
$color-gray: #c7c8c4;
$color-lightblue: #2a81cc;
$color-black: #2b2623;

$mdc-theme-primary: #5e34fb;
$mdc-theme-secondary: #676778;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: #ff3300;