$color-blue: #393088;
$color-green: #60a475;
$color-gray: #c7c8c4;
$color-lightblue: #2a81cc;
$color-black: #2b2623;

$color-primary: #60a475;
$color-secondary: #393088;

$color-background: #fff;
$color-surface: #fff;

$color-error: #ff3300;